{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "rules": {
    "no-param-reassign": ["error", { "props": false }],
    "no-alert": "off",
    "no-restricted-syntax": "off"
  }
}
